* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

article {
    background: grey;
    text-align: center;
    justify-content: center;
}

.box-one {
    background: blue;
    height: 50vh;
    width: 80%;
    position: relative;
    left: 50px;
}

.box-two {
    background: #D59B02;
    height: 40vh;
    width: 40%;
    position: relative;
    left: 120px;
}

header {
    height: 30vh;
    background: #D59B02;
    text-align: center;
}

.section-one {
    background: #D58202;
}

footer {
    text-align: center;
}